<!-- wp:group {"metadata":{"name":"Site"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Site-inner"},"style":{"border":{"style":"dashed"},"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"},"blockGap":"0"},"css":"box-sizing: content-box;"},"layout":{"type":"default"}} -->
<div class="wp-block-group has-custom-css" style="border-style:dashed;padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:0"><!-- wp:block {"ref":92} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->