<!-- wp:group {"metadata":{"name":"Site"},"layout":{"type":"constrained","contentSize":"44rem"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Site-inner"},"style":{"border":{"style":"dashed"},"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="border-style:dashed;padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"tagName":"header","metadata":{"name":"Header"},"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|60"}},"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"constrained"}} -->
<header class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:site-title {"level":0,"style":{"typography":{"textAlign":"center"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"x-large","fontFamily":"kalam"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"padding":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:group {"style":{"layout":{"rowSpan":2}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":1,"style":{"typography":{"textAlign":"center"},"layout":{"columnSpan":3},"spacing":{"margin":{"top":"0"}}}} /-->

<!-- wp:post-content {"style":{"layout":{"columnSpan":3}},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->